<h1>ثبت‌نام معلم جدید</h1>

<form method="POST">
    {% csrf_token %}
    <p>
        <label>نام:</label>
        {{ form.first_name }}
    </p>

    <p>
        <label>نام خانوادگی:</label>
        {{ form.last_name }}
    </p>

    <p>
        <label>کد ملی:</label>
        {{ form.number_id }}
    </p>

    <p>
        <label>نام کاربری:</label>
        {{ form.username }}
    </p>

    <p>
        <label>رمز عبور:</label>
        {{ form.password1 }}
    </p>

    <p>
        <label>تکرار رمز عبور:</label>
        {{ form.password2 }}
    </p>

    <button type="submit">ثبت‌نام</button>
</form>



